*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1{
    text-align: center;
    text-decoration: underline;
}
img{
    width: 1300px;
    height: 500px;
    padding-left: 120px;
}
.text{
    width: 1300px;
    padding-left: 120px;
}
p{
    font-size: 18px;
    text-align: justify;
}
.navbar{
    overflow: hidden;
    background-color: rgb(100,100,100,0.5);
    position: fixed;
    bottom: 30px;
    width: 1150px;
    height: 40px;
    border-radius: 30px;
    padding:0.5em 5em ;
    margin-left: 120px;
}
.pill{
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1.5em;
    color: white;
}
.bg{
    width: 100vw;
    height: 100vh;
}
.txtBlack{
    color:black;
}
